<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfunctionapphost20190519051721.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/76972a65-0cc5-4520-bd43-938429557ba6/resourceGroups/d84010cb-9536-4614-8f94-6175e6b5ab05/providers/Microsoft.Web/sites/MyFunctionAppHost20190519051721</ResourceId>
    <UserName>$MyFunctionAppHost20190519051721</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://myfunctionapphost20190519051721.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>